body{
    text-align: center;
    list-style-position: inside;
}

.choice{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding:20px;
    width:30%
}

#result{
    display:none;
    width:30%
}

#play-again{
    display:none;
}

.button{
    margin:10px;
}

.output-div{
    display:none;
    border: 2px solid;
    background-color: grey;
    padding:20px;
    width:fit-content
}