body{
    text-align: center;
    list-style-position: inside;
}

.choice{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding:20px;
    width:30%
}

.body-div{
    display:block;
}

.button{
    margin:10px;
}

.output-div{
    align-self: center;
    width:30%;
    border: 2px solid;
    background-color: grey;
    padding:20px;
}
.play-again{
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding:20px;
    width:30%
}
